{% extends 'base/baseCentral.html' %}

{% load static %}

{% block importes %}

    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">

{% endblock %}

{% block base %}

    <form id="formulario" class="forma-caixa" method="POST" enctype="multipart/form-data" action="{% url 'adicionarRecurso' %}">
        {% csrf_token %}
        {{ formRec.as_p }}
        <input class="forma-relevo" style="--borda: white;--fundo: #d9d9d9; --cfundo: #c8c8c8;" type="submit" value="Salvar">
    </form>

{% endblock %}