{% extends 'base/base.html' %}

{% block base %}
   

    
{% endblock %}

{% comment "" %}
    <h1>O que é o Lorem Ipsum?</h1>
    Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando uma impressora desconhecida pegou uma galera de tipo e a embaralhou para fazer um livro de espécimes de tipo. Sobreviveu não apenas a cinco séculos, mas também ao salto para a tipografia eletrônica, permanecendo essencialmente inalterado. Foi popularizado na década de 1960 com o lançamento de folhas Letraset contendo passagens de Lorem Ipsum e, mais recentemente, com software de editoração eletrônica como o Aldus PageMaker, incluindo versões do Lorem Ipsum.<br><br>

    <a class="info">Esse é um pequeno teste de estilo de texto<br></a>

    <h1>Por que o usamos?</h1>
    É um fato estabelecido há muito tempo que um leitor será distraído pelo conteúdo legível de uma página ao olhar para o seu layout. O ponto de usar o Lorem Ipsum é que ele tem uma distribuição mais ou menos normal de letras, em vez de usar "Conteúdo aqui, conteúdo aqui", fazendo com que pareça um inglês legível. Muitos pacotes de editoração eletrônica e editores de páginas da Web agora usam o Lorem Ipsum como seu texto modelo padrão, e uma pesquisa por 'lorem ipsum' descobrirá muitos sites ainda em sua infância. Várias versões evoluíram ao longo dos anos, às vezes por acidente, às vezes de propósito (humor injetado e afins).<br><br>

    <a class="info">Esse é um pequeno teste de estilo de texto<br></a><br>

    <h1>De onde vem?</h1>
    Ao contrário da crença popular, Lorem Ipsum não é simplesmente um texto aleatório. Tem raízes em uma peça de literatura latina clássica de 45 aC, tornando-se mais de 2000 anos de idade. Richard McClintock, professor de latim no Hampden-Sydney College, na Virgínia, procurou uma das palavras latinas mais obscuras, consectetur, a partir de uma passagem de Lorem Ipsum, e passando pelas citações da palavra na literatura clássica, descobriu a fonte indubitável. Lorem Ipsum vem das seções 1.10.32 e 1.10.33 de "de Finibus Bonorum et Malorum" (Os Extremos do Bem e do Mal) de Cícero, escrito em 45 aC. Este livro é um tratado sobre a teoria da ética, muito popular durante o Renascimento. A primeira linha de Lorem Ipsum, "Lorem ipsum dolor sit amet..", vem de uma linha na seção 1.10.32.

    O pedaço padrão de Lorem Ipsum usado desde os anos 1500 é reproduzido abaixo para os interessados. As seções 1.10.32 e 1.10.33 de "de Finibus Bonorum et Malorum" de Cícero também são reproduzidas em sua forma original exata, acompanhadas por versões em inglês da tradução de 1914 por H. Rackham.<br><br>
    
    <a class="info">Esse é um pequeno teste de estilo de texto<br></a><br>

    <h1>Onde posso obter alguns?</h1>
    Existem muitas variações de passagens de Lorem Ipsum disponíveis, mas a maioria sofreu alteração de alguma forma, por humor injetado ou palavras aleatórias que não parecem nem um pouco críveis. Se você vai usar uma passagem de Lorem Ipsum, você precisa ter certeza de que não há nada embaraçoso escondido no meio do texto. Todos os geradores Lorem Ipsum na Internet tendem a repetir pedaços predefinidos conforme necessário, tornando este o primeiro gerador verdadeiro na Internet. Ele usa um dicionário de mais de 200 palavras latinas, combinadas com um punhado de estruturas de sentenças modelo, para gerar Lorem Ipsum que parece razoável. O Lorem Ipsum gerado é, portanto, sempre livre de repetição, humor injetado ou palavras não características, etc.

{% endcomment %}