{% extends 'base/base.html' %}

{% block submenu %}
    <li><a href="api/">API</a></li>
{% endblock submenu %}

{% block base %}
    
<div class="texto forma-caixa">

    <h1>ZSSN - Zombie Survival Social Network</h1>

    <p>
        E uma aplicacao web ficticia que se basea em elementos graficos do jogo eletronico Minecraft. O sistema e feito em python utilizando o framework django. 
        Alem disso, a aplicacao tambem e uma API que retorna informacoes sobre os supostos sobreviventes e recursos.
    </p>

    <div class="obs">
            <b>Observacoes:</b>
            <ol>
                <li>Esse projeto foi proposto por uma atividade escolar do Instituto Federal do Piaui - Campus Corrente, pelo professor <a href="https://github.com/fgsantosti/"><b>Felipe Santos;</b></a></li>  
                <li>Atencao Mojango e Microsoft este projeto nao tem fins lucrativos. E todos os dados presentes de pessoa sao ficticios;</li>
                <li>Por enquanto ele está em desenvolvimento e não possui responsividade, por isso use em um computador;</li>
            </ol>
    </div>

    <p>
    <h2>Objetivos:</h2>
        <ol>
            <li>Fazer a admissao de novos sobreviventes(usuarios) e seus recursos;</li>
            <li>Fazer a troca de recursos entre sobreviventes interessados em realizar ofertas(ofertas e cambios);</li>
            <li>Fazer a comunicao entre sobreviventes(chat);</li>
            <li>Mostrar mapa com as posicoes de outros sobreviventes, ordas de zumbis e locais de interesse;</li>
        </ol>
    </p>
    <div class="obs">
        <h2>Observacoes:</h2>
        <ol>
            <li>Os recursos, que nao estao para venda, nao serao mostrados para outros sobreviventes, pois isso evitara roubos e furtos;</li>
            <li>O mapa do sobrevivente poderar registrar estruturas e locais, para informar possiveis locais de refugio ou hordas de zumbis;</li>
        </ol>
    </div>
    <p>
        <h2>Tabelas:</h2>
        <ol>                
            <li>Sobrevivente (<img src="https://rede-social-zumbi.herokuapp.com/static/img/icone-steve.png" width="20px">)</li>
            <li>Inventario (<img src="https://rede-social-zumbi.herokuapp.com/static/img/icone-bau.png" width="20px">)</li>
            <li>Recurso (<img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/8/8a/Gold_Ingot_JE4_BE2.png/revision/latest/scale-to-width-down/150?cb=20200224211607" width="20px">)</li>
            <li>Oferta (<img src="https://static.wikia.nocookie.net/minecraft_br_gamepedia/images/4/40/Papel.png/revision/latest?cb=20110829154925" width="20px">)</li>
            <li>Cambio (<img src="https://rede-social-zumbi.herokuapp.com/static/img/icone-loja.png" width="20px">)</li>
            <li>Referencia (<img src="https://rede-social-zumbi.herokuapp.com/static/img/icone-mapa.png" width="20px">)</li>
            <li>Mensagem (<img src="https://rede-social-zumbi.herokuapp.com/static/img/icone-chat.png" width="20px">)</li>
        </ol>
    </p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/RcLmLFgRmeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock base %}
