{% extends 'base/base.html' %}

{% block base %}

    <table>

        {% for recurso in recursos %}
            <tr class="dado forma-relevo-fixa" style="--borda: white;--fundo: #d9d9d9;">
                <td>{{ forloop.counter }}</td>
                <td>{{ recurso.descricao }}</td>
                <td>{{ recurso.quantidade }}</td>
                <td>{{ recurso.validade | default_if_none:'Não perecível' }}</td>
                <td>{{ recurso.verTipo }}</td>
                <td id="editar"><a class="forma-relevo" style="--borda: yellow; --fundo: #cfcf00;"   href="{% url 'editarRecurso' id=recurso.id %}">EDITAR</a></td>
                <td id="remover"><a class="forma-relevo" style="--borda: red; --fundo: #c90000;"  href="{% url 'removerRecurso' id=recurso.id %}">DELETAR</a></td>
            </tr>
        {% endfor %}
        

    </table>
    <a class="forma-relevo" style="--borda: #00ac00; --fundo: green;" href="{% url 'adicionarRecurso' %}">ADICIONAR</a>

{% endblock %}