{% extends 'base/base.html' %}
{% load static %}

{% block submenu %}
    <li><a href="{% url 'loja' %}">Loja Ofertas</a></li>
    <li><a href="{% url 'minhas_ofertas' %}">Minhas Ofertas</a></li>
    <li><a href="{% url 'meusCambios' %}">Meus Cambios</a></li>
{% endblock submenu %}

{% block base %}
    <div class="campo forma-caixa">
        <h1 id="titulo">Pesquisa</h1>
        <form method="GET" enctype="multipart/form-data"> 
            <label>Procurar por:</label>
            <input class="forma-caixa" type="text">
            <input class="forma-relevo" style="--borda: #0064ff;--fundo: #0055d9;" type="submit" value="search">
        </form>
    </div>
    <div id="inventario" class="campo forma-caixa">

        <h1 id="titulo"><img class="icone-menu" src="{% static 'img/icone-steve.png' %}">&nbspMinhas Ofertas</h1>

        {% for oferta in ofertas %}
            <div class="item forma-relevo-fixa" style="--borda: white;--fundo: #d9d9d9;">
                <p><b>{{ oferta.produto.descricao }}</b></p>
                <p>{{ oferta.quantidade }} unidades</p>
                <p>Por {{ oferta.vendedor }}</p>
                <p>
                    {% with validade=oferta.produto.validade|date:'d/m/Y' %}
                        {% if validade == "" %}
                            Não perecivel
                        {% else %}
                            {{validade}}
                        {% endif %}
                    {% endwith %}</p>
                <p>{{ oferta.produto.verTipo }}</p>
                <a id="topRight"  class="forma-relevo" style="--borda: red; --fundo: #c90000;"  href="{% url 'removerOferta' id=oferta.id %}">&nbspx&nbsp</a>
                <a id="bottomRight" class="forma-relevo" style="--borda: #7200e4; --fundo: #8000ff;"   href="">Detalhes</a>
            </div>
        {% endfor %}
        {% if quant == 0 %}
            Voce não tem ofertas, crie uma a partir dos seus items de inventario!
        {% endif %}

        <a id="add" class="forma-relevo" style="--borda: #00ac00; --fundo: green;" href="{% url 'inventario' %}">Criar</a>

    </div>

{% endblock %}