@charset "UTF-8";

#chat {
    width: 90vh;
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    z-index: 8;
}

#chat ul{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    list-style: none;
    overflow-y: scroll;
}

#chat ul li {
    width: auto;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px gray;
}

#chat ul li h4 {
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 3px black;
}

#chat ul li p {
    margin-top: 5px;
}

#chat ul li.emissor {
    margin-left: auto;
    background-color: rgb(66, 244, 93);
}

#chat ul li.receptor {
    margin-right: auto;
    background-color: rgb(103, 103, 255);
}

#chat #ent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chat #ent #texto{
    width: 100%;
}

span#nome {
    padding: 10px 20px;
    margin-bottom: -4px;
    background-color: rgb(204, 0, 255);
    z-index: 5;
    border-left: 5px ridge white;
    border-right: 5px ridge white;
    border-top: 5px ridge white;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}