@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;1,300&family=Covered+By+Your+Grace&display=swap');

/*
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Barlow Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Minecraft", "Medium";

    color: var(--cor-texto);
}

:root {
    --cor-fundo: #222; 
    --cor-texto: #fff;
}

body {
    width: 100%;
    min-height: 100vh;

    background: url("../img/fundo-grama.jpg");;/**/
    font-family: "Minecraft", "Medium";
    background-size: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    margin: 5px;
    padding: 1px 10px;
    background-color: rgba(34, 34, 34, 0.75);
    border: 3px ridge white;
    border-radius: 5px;
    outline: none;
}

.forma-relevo {
    display: inline-block;
    padding: 5px;

    border: 3px outset var(--borda);
    border-radius: 2px;
    
    background-color: var(--fundo);
    box-shadow: 0px 0px 1px 1px black, 0px 0px 10px 0px rgba(23, 23, 23, 0.986);
    color: white;
    text-shadow: 1px 1px gray;
}

.forma-relevo-fixa {
    display: inline-block;
    padding: 5px;

    border: 3px outset var(--borda);
    border-radius: 2px;
    
    background-color: var(--fundo);
    box-shadow: 0px 0px 1px 1px black, 0px 0px 10px 0px rgba(23, 23, 23, 0.986);
    color: white;
    text-shadow: 1px 1px gray;
}

.forma-relevo:hover {
    background-color: var(--fundo);
    border: 3px inset var(--borda);
}

.forma-caixa {
    padding: 20px;
    border-radius: 5px;
    border: 3px ridge white;

    background-color: rgba(34, 34, 34, 0.75);
}