@charset "utf-8";

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Minecraft';

    color: var(--cor-texto);
}

:root {
    --cor-fundo: #222; 
    --cor-texto: #fff;
}

body {
    width: 100%;
    min-height: 100vh;
    padding-top: 160px;

    background: url("../img/fundo-pedra-lisa.jpg");
    background-size: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    margin: 5px;
    padding: 1px 10px;
    background-color: rgba(34, 34, 34, 0.75);
    border: 3px ridge white;
    border-radius: 5px;
    outline: none;
}

.campo {
    position: relative;
    margin: 20px;
    padding: 80px 20px 20px 20px;

    display: flex;
    gap: 10px;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.campo > #titulo {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    border-bottom: 2px solid white;

    font-size: 30px;

    display: flex;
    align-items: flex-end;
}

.forma-relevo {
    display: inline-block;
    padding: 5px;

    border: 3px outset var(--borda);
    border-radius: 2px;
    
    background-color: var(--fundo);
    box-shadow: 0px 0px 1px 1px black, 0px 0px 10px 0px rgba(23, 23, 23, 0.986);
    color: white;
    text-shadow: 1px 1px gray;
}

.forma-relevo-fixa {
    display: inline-block;
    padding: 5px;

    border: 3px outset var(--borda);
    border-radius: 2px;
    
    background-color: var(--fundo);
    box-shadow: 0px 0px 1px 1px black, 0px 0px 10px 0px rgba(23, 23, 23, 0.986);
    color: white;
    text-shadow: 1px 1px gray;
}

.forma-relevo:hover {
    background-color: var(--fundo);
    border: 3px inset var(--borda);
}

.forma-caixa {
    border-radius: 5px;
    border: 3px ridge white;

    background-color: rgba(34, 34, 34, 0.75);
}

.forma-caixa-div {
    padding: 10px;
    border-radius: 5px;
    border: 3px ridge white;

    background-color: rgba(34, 34, 34, 0.75);
}

.esOn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(34 34 34 / 94%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.esOn > span{
    position: relative;
    margin-top: 100px;
    width: 300px;
    padding: 20px;

    text-align: center;
}

.sepn {
    margin-top: 20px;
}

.sepn > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sepn > ul > li {
    width: 100%;
    margin: 4px;
    padding: 5px 8px;
    cursor: pointer;
    list-style: none;
}

.cx {
    width: 100%;    
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}