@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;1,300&family=Covered+By+Your+Grace&display=swap');

/*
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Covered By Your Grace', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Barlow Condensed', sans-serif;
    color: var(--cor-texto);
}

:root {
    --cor-fundo: #222; 
    --cor-texto: #fff;
}

body {
    width: 100%;
    min-height: 100vh;

    background-color: var(--cor-fundo);
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    margin: 5px;
    padding: 1px 10px;
    border-radius: 25px;
    border: 2px solid green;
    background-color: transparent;
    outline: none;
}

.info {
    padding: 5px 8px;

    background-color: rgba(19, 19, 19, 0.9);
    color: white;
}

/* Teste
*   {
    color: var(--cor-texto);
}
body {
    background-color: var(--cor-fundo);
}
*/