#inventario {
    width: 460px;
    margin-bottom:  70px;
}

#inventario > .item{
    position: relative;
    width: 200px;
    height: 150px;
    padding: 10px;
    font-size: 13px;
}

#inventario > #add {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.item  #contador{
    position: fixed;
}


.item b{
    color: #545454;
    text-shadow: none;
}

#topRight {
    position: absolute;

    top: 10px;
    right: 10px;
    box-shadow: 0px 0px 3px black;
    font-size: 10px;
}

#bottomRight {
    position: absolute;

    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 3px black;
    font-size: 10px;
}

#bottomMed {
    position: absolute;

    bottom: 10px;
    left: 78px;
    box-shadow: 0px 0px 3px black;
    font-size: 10px;
}

#bottomLeft {
    position: absolute;
    bottom: 10px;
    left: 10px;

    box-shadow: 0px 0px 3px black;
    font-size: 10px;
}