#inventario {
    margin-bottom:  70px;
}

#inventario > .item{
    position: relative;
    width: 150px;
    height: 150px;
    padding: 10px;
}

#inventario > #add {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.item  #contador{
    position: fixed;
}


.item b{
    color: #545454;
    text-shadow: none;
}

.item > #rm {
    position: absolute;

    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 3px black;
    font-size: 10px;
}

.item > #edit {
    position: absolute;
    bottom: 10px;
    left: 10px;

    box-shadow: 0px 0px 3px black;
    font-size: 10px;
}