@charset "utf-8";

#mapa {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

#mapa .sep {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa .sep > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa .sep > ul > li {
    width: 70px;
    height: 70px;
    margin: 5px;
    padding: 5px 8px;
    cursor: pointer;
    list-style: none;
}

#mapa .sep > ul > li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

canvas#janela {
    position: relative;
    border-radius: 6px;

    background: url('../img/mapa.png');
    border: 5px ridge white;
    background-repeat: no-repeat;
    background-size: cover;
}

span#info {
    padding: 10px;
    background-color: rgb(255, 136, 0);
    z-index: 20;
    border-left: 5px ridge white;
    border-right: 5px ridge white;
    border-bottom: 5px ridge white;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}