@charset "utf-8";

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: url(../img/fundo-grama.jpg);
    background-size: 300px;

    z-index: 15;
}

#menu::after {
    content: ' ';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url(../img/fundo-terra.jpg);
    background-size: 50px;
    box-shadow: 0px 5px 5px #494949;

    z-index: 8;
}

#menu ul {
    display: inline-flex;
    list-style: none;
}

#menu ul > li {
    width: 70px;
    height: 70px;

    margin: 5px;
    padding: 5px 8px;

    cursor: pointer;
}

#menu ul > li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icone-menu {
    width: 40px;
}

#menu > #perfil {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 7px;
    justify-content: space-around;
}