{% extends 'base/baseCentral.html' %}

{% load static %}

{% block importes %}

    <link rel="stylesheet" href="{% static 'css/entrada.css' %}">

{% endblock %}

{% block base %}
    <div id="inventario" class="campo forma-caixa">

        <h1 id="titulo"><img class="icone-menu" src="{% static 'img/icone-entrar.png' %}">&nbspLogin</h1>
        <form id="form_login" class="forma-caixa" method="post" action="{% url 'autenticar' %}">
            {% csrf_token %}
            <ul>
                <li><label for="inp_user">Usuario:</label><input id="inp_user" name="user" type="text" maxlength="20"></li>
                <li><label for="inp_pass">Senha:</label><input id="inp_pass" name="pass" type="password"></li>
                <li><input class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;" type="submit" value="Entrar"></li>
            </ul>
        </form>
    </div>

{% endblock %}
