{% load static %}

<!-- Documentação padrão html brasil -->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <!-- Configurações de navegador -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ZSSN</title>

        <!-- Folha de estilo simples -->
        <link rel="shortcut icon" href="{% static 'img/icone.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/genericos.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
        
    </head>

    <body>

        <nav id="menu">
            <ul>
                <li class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;'"><a href="{% url 'iniciar' %}"><img class="icone-menu"src="{% static 'img/icone-casa.png' %}">Inicio</a></li>
                {% if not user.is_authenticated %}
                    <li class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;"><a href="{% url 'conectar' %}"><img class="icone-menu" src="{% static 'img/icone-entrar.png' %}">Entrar</a></li>
                    <li class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;"><a href="{% url 'cadastrar' %}"><img class="icone-menu" src="{% static 'img/icone-criar.png' %}">Criar</a></li>
                {% else %}
                    <li class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;"><a href="{% url 'inventario' %}"><img class="icone-menu" src="{% static 'img/icone-mapa.png' %}">Mapa</a></li>
                    <li class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;"><a href="{% url 'inventario' %}"><img class="icone-menu" src="{% static 'img/icone-bau.png' %}">Báu</a></li>
                    <li class="forma-relevo" style="--borda: white;--fundo: #d9d9d9;"><a href="{% url 'desconectar' %}"><img class="icone-menu" src="{% static 'img/icone-porta.png' %}">Sair</a></li>
                {% endif %}
    
            </ul>
        </nav>

        {% block base %}{% endblock %}
        
    </body>

</html>