{% load static %}

<!-- Documentação padrão html brasil -->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <!-- Configurações de navegador -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ZSSN</title>

        <!-- Folha de estilo simples -->
        <link rel="stylesheet" href="{% static 'css/genericos.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo_baseCentral.css' %}">
    </head>

    <body>

        {% block base %}{% endblock %}
        
    </body>

</html>