{% load static %}

<!-- Documentação padrão html brasil -->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <!-- Configurações de navegador -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ZSSN</title>

        <!-- Folha de estilo simples -->
        <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/218/218153.png" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/genericos.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        {% block importes %}{% endblock %}

    </head>

    <body>

        <nav id="menu">
            <ul>
                <li><a href="{% url 'iniciar' %}">Inicio</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'conectar' %}">Conectar</a></li>
                    <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
                {% else %}
                    <li><a href="{% url 'inventario' %}">Inventário</a></li>
                    <li><a href="{% url 'desconectar' %}">Sair</a></li>
                {% endif %}
    
            </ul>
        </nav>

        {% block base %}{% endblock %}
        
    </body>

</html>